@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

body {
    font-family: 'Nunito', sans-serif;
}

button,
select {
    font: inherit;
    padding: 0.25em;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#root {
    /* React root div */
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.main,
.footer {
    padding: 0.25em;
}

.main {
    display: flex;
    gap: 1rem;
}

.main--products {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 7rem;
}

.main--cart {
    flex-flow: column nowrap;
    margin: 8rem 0 0;
}

.header {
    background-color: #fff;
    position: fixed;
    width: 100vw;
    z-index: 1;
    box-shadow: 1px 1px 15px #bdbdbd;
}

.header__title-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.header__title-bar > h1 {
    margin-left: 1rem;
}

.header__price-box {
    text-align: right;
    margin-right: 2rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
  margin: -7px 3rem 1rem;
}

.nav > button{
    border: none;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow:  2px 2px 10px #b1b1b1,
             -2px -2px 10px #ffffff;
    transition: background-color .2s ease-in-out;
}

.nav > button:hover {
    cursor: pointer;
    background-color: #eaeaea;
    border-radius: 3px;
    box-shadow:  2px 2px 10px #d5d5d5,
             -2px -2px 10px #ffffff; 
}

.footer {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    background-color: #f5f5f5;
    width: 100%;
}

.footer__social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem auto;
}

.footer__social-media i{
    font-size: 24px;
    color: #202429;
}

.footer__social-media i:hover{
    opacity: 0.7;
    transition: all 0.3s;
}

.product {
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-radius: 6px;
    box-shadow:  5px 5px 20px #d5d5d5,
         -5px -5px 20px #ffffff;
}

.product__button{
    margin: 1rem 0 0 .7rem;
    border: none;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow:  2px 2px 10px #d5d5d5,
             -2px -2px 10px #ffffff;
    transition: background-color .2s ease-in-out;
}

.product__button:hover {
    cursor: pointer;
    background-color: #eaeaea;
    border-radius: 3px;
    box-shadow:  2px 2px 10px #d5d5d5,
             -2px -2px 10px #ffffff; 
}

.product > p{
    margin: 1rem; 
}

.product__img {
    object-fit: cover;
    max-width: 200px;
    margin: 1rem 0;
}

.cart {
    padding: 0 1rem;
    margin-top: 0.5em;
}

.cart__item {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 3rem;
    margin-bottom: 0.5em;
}

.cart__img {
    display: flex;
    width: 50%;
}

.cart__select {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__name, 
.cart__price,
.cart__item-subtotal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__button {
    width: 48px;
    margin-left: 1rem;
    border: none;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow:  2px 2px 10px #d5d5d5,
             -2px -2px 10px #ffffff;
    transition: background-color .2s ease-in-out;
}

.cart__totals {
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.cart__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 20%;
}

@media screen and (max-width: 1080px) {
    .main--products {
        display: grid;
        grid-template-columns: auto auto auto;
    } 

    .product{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: .5rem;
        border-radius: 6px;
        box-shadow:  5px 5px 20px #d5d5d5,
             -5px -5px 20px #ffffff; 
    }
}

@media screen and (max-width: 768px) {
    .main--products {
        display: grid;
        grid-template-columns: auto auto;
    } 

    .cart__item {
        grid-template-columns: 3fr 15fr 5fr 1fr 8fr;
        place-items: center;
    }

    .cart__img {
        width: 100%;
    }
}

@media screen and (max-width: 426px) {
    .main--products{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        justify-content: center;
        margin: 7rem auto 0;
    }

    .cart__item{
        gap: 1rem;
    }

    .cart__img, .cart__price {
        display: none;
    }

    .cart__submit {
        width: 100%;
    }
}
